@model Library.ViewModel.MagazineFormModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Magazines"))
{
    <div calss="form-group">
        @Html.LabelFor(m => m.Magazine.Title)
        @Html.TextBoxFor(m => m.Magazine.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Magazine.Title)
    </div>
    <div calss="form-group">
        @Html.LabelFor(m => m.Magazine.desc)
        @Html.TextBoxFor(m => m.Magazine.desc, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Magazine.desc)
    </div>
    <div calss="form-group">
        @Html.LabelFor(m => m.Magazine.ReleaseDate)
        @Html.TextBoxFor(m => m.Magazine.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Magazine.ReleaseDate)
    </div>
    <div calss="form-group">
        @Html.LabelFor(m => m.Magazine.NumberInStock)
        @Html.TextBoxFor(m => m.Magazine.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Magazine.NumberInStock)
    </div>
    @Html.HiddenFor(m => m.Magazine.Id)
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
